.todo {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  line-height: 2.2em;
  padding: 0 .4em 0 .6em;
}

.todo:hover {
  background: #f6f7f7;
}

.todo input {
  flex-shrink: 0;
  height: 1em;
  width: 1em;
}

.todo span {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: .6em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo--done span {
  color: #b6bbbd;
  text-decoration: line-through;
}

.todo button {
  background: #d6d9da;
  cursor: pointer;
  flex-shrink: 0;
  font-size: .8em;
  height: 1.4em;
  visibility: hidden;
  width: 1.4em;
}

.todo:hover button {
  visibility: visible;
}

.todo button:hover {
  background: #bcc0c2;
}
