.todo {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  line-height: 2.2em;
  padding: 0 .4em 0 .6em;
}

.todo--done {
  color: #b6bbbd;
  text-decoration: line-through;
}

.todo:hover {
  background: #f6f7f7;
}

.todo__tick {
  flex-shrink: 0;
  height: 1em;
  width: 1em;
}

.todo__text {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: .6em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo__timestamp {
  color: #a0a0a0;
  font-size: .64em;
  margin: 0 .4em;
  white-space: nowrap;
}

.todo__delete {
  background: #bcc0c2;
  cursor: pointer;
  flex-shrink: 0;
  font-size: .8em;
  height: 1.4em;
  visibility: hidden;
  width: 1.4em;
}

.todo:hover .todo__delete {
  visibility: visible;
}

.todo__delete:hover {
  background: #bcc0c2;
}
